html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    p {
        white-space: pre;
    }
}

.PF {
    .num {
        position: fixed;
        top: 30%;
        right: 5rem;
        z-index: 999;
    }

    .btn {
        position: fixed;
        top: 5rem;
        right: 10rem;
        z-index: 1000;
        font-size: 0;
        width: 5rem;
        height: 5rem;
        background-color: #46f748;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 1rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 2px;
            background: #000;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 1rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 2px;
            background: #000;
        }

        &.on::before {
            display: none;
        }

        &.on::after {
            display: none;
        }

        span::before,
        span::after {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: 0.5rem;
            right: 0.5rem;
            height: 2px;
            background: #000;
        }

        &.on span::before {
            transform: rotate(45deg);
        }

        &.on span::after {
            transform: rotate(-45deg);
        }

    }

    .Cover {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        color: #181818;
        z-index: 1000;
        height: 0;
        overflow: hidden;
        transition: 0.5s;

        &.on {
            height: 100vh;
        }

        .inside {
            // display: flex;
            // justify-content: space-between;
            width: 1500px;
            height: 820px;
            border-bottom: 2px solid #282828;
            margin: 0 auto;

            font-weight: 800;
            font-size: 80px;

            .des {
                font-size: 15px;
                margin: 50px 0 150px 0;

            }

            li {
                color: #46f748;
                display: block;
                margin: 0 0 30px 0;
                text-align: center;
                opacity: 1;
                line-height: 100px;


                // li:hover {
                //     text-decoration: overline underline 10px dotted #000;
                // }

            }
        }

        .gnb {
            position: fixed;
            top: 50%;
            right: 5rem;
            z-index: 999;
            font-size: 0;

            li {
                margin: 0.5rem;

                a {
                    position: relative;
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    border: 1px solid rgba(51, 51, 51, 0.3);
                    transform: scale(0.5);
                    border-radius: 50%;

                    &::before {
                        content: "";
                        display: none;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 30%;
                        height: 30%;
                        background: #333;
                        border-radius: 50%;

                    }
                }

                &.on a {
                    transform: scale(1);

                    &::before {
                        display: block;
                    }

                }
            }
        }
    }


    .section {
        font-size: 5px;
        transition: 1s 1s;

        &.active {
            font-size: 30px;
        }
    }
}